a {
    text-decoration: none;
}

.flex {
    display: flex;
    align-items: center;
    gap: 5px;

    &.top {
        align-items: start;
    }
}

.icon {
    width: 1rem;
    height: 1rem;
    svg {
        width: 1rem;
        height: 1rem;
    }
}

.bold {font-weight: bold;}
.underlined {text-decoration: underline;}
.italic {font-style: italic;}

.textarea_preserve {white-space: pre-line;}

.persona_data {
    position: relative;
    border-spacing: 5px;
    display : grid;

    &.table {
        --nb-columns: 6;
        max-width: 100%;
        grid-template-columns: repeat(var(--nb-columns),  minmax(0, max-content));
        .col_image {
            max-width: 80px;
        }
    }

    &.card {
        grid-template-columns: repeat(3, max-content);
        .col_image {
            max-width: 100px;
        }
    }

    .persona_data_row {
        display: contents;
        font-size: 0.9rem;
        border-bottom: 1px solid #818181;
        align-items: center;

        .persona_data_col {
            padding: 10px 0;

            &.filled {
                padding: 10px;
            }

            &.col_image {
                img {
                    padding-top: 5px;
                    aspect-ratio: auto;
                    width: 100%;
                }
            }         
        }
    }
}

.persona_card {
    display: flex;
    gap: 5px;
    align-items: start;
    justify-content: start;


}
